* text=auto eol=lf

/vendor export-ignore
/node_modules export-ignore
/.gitignore export-ignore
/.github export-ignore
/tests export-ignore
/docs/development export-ignore
/bin export-ignore
/tools export-ignore
/phpunit.xml.dist export-ignore
/phpunit-integration.xml.dist export-ignore
/PLANNING.md export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
**/.gitkeep export-ignore
/phpstan.neon export-ignore
/phpcs.xml.dist export-ignore
