<?xml version="1.0"?>
<ruleset name="mcLogiora">
	<description>WordPress Coding Standards for mcLogiora.</description>

	<file>mclogiora.php</file>
	<file>uninstall.php</file>
	<file>src</file>

	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>tests/*</exclude-pattern>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>

	<config name="minimum_supported_wp_version" value="6.5"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="mclogiora"/>
			</property>
		</properties>
	</rule>
</ruleset>
