parameters:
	ignoreErrors:
		-
			message: '#^Method McLogiora\\Relations\\InMemoryTranslationRelationRepository\:\:create_empty_group\(\) never returns WP_Error so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Relations/InMemoryTranslationRelationRepository.php
